{% extends 'base.html.twig' %}

{% set colors = ["primary","secondary","success","danger","warning","info"] %}


{% block meta %}
<meta http-equiv="refresh" content="120">
{% endblock %}

{% block panelContent %}

<div class="container">

  {% for message in app.flashes('info') %}
    <div class="alert alert-success" role="alert">
          {{ message }}
      </div>
  {% endfor %}
  <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="mapped-tab" data-toggle="tab" href="#mapped" role="tab" aria-controls="mapped" aria-selected="true">Mapped</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="unmapped-tab" data-toggle="tab" href="#unmapped" role="tab" aria-controls="unmapped" aria-selected="false">Unmapped</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="false">All</a>
  </li>
</ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="mapped" role="tabpanel" aria-labelledby="mapped-tab">
      <div id="mapped_lightings">
          {% if y_max is not null %}
            {% for y in y_max..1 %}
              <div class="card-group">
              {% for x in 1..x_max %}
                
                  <div class="card {% if x_max > 3 %} w-{{ 100 / x_max }} {% else %} col-sm-6 col-md-4 {% endif %} text-white bg-dark border-light m-2">
                    {% if luminaire_repo.getByXY(x,y) is not null %}
                    {% set luminaire = luminaire_repo.getByXY(x,y) %}
                      <div class="card-body">
                        <div class="btn-group-vertical btn-block">
                          <div class="btn-group">
                            {% if log_repo.getLuminaireLastLog(luminaire.id)|length > 0 %}
                                {% if log_repo.getLuminaireLastLog(luminaire.id)[0].value['channels_on']|length > 0 %}
                                  <button class="btn btn-sm btn-warning" data-toggle="modal" data-target="#modal-grid-{{ luminaire_repo.getByXY(x,y).id }}">
                                  {{ luminaire.address }} ({{ luminaire.colonne }},{{ luminaire.ligne }})
                                  <i class="fa fa-sun"></i>
                                {% else %}
                                  <button class="btn btn-sm btn-dark" data-toggle="modal" data-target="#modal-grid-{{ luminaire_repo.getByXY(x,y).id }}">
                                  {{ luminaire.address }} ({{ luminaire.colonne }},{{ luminaire.ligne }})
                                  <i class="fa fa-moon"></i>
                                {% endif %}
                              {% else %}
                                <button class="btn btn-sm btn-light" data-toggle="modal" data-target="#modal-grid-{{ luminaire_repo.getByXY(x,y).id }}">
                                  {{ luminaire.address }} ({{ luminaire.colonne }},{{ luminaire.ligne }})
                                <i class="fa fa-question"></i>
                              {% endif %}
                            </button>
                          </div>
                        </div>
                        {% if luminaire.cluster is not null %}
                        <div class="btn-group-vertical btn-block">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-{{ colors[ luminaire.cluster.label-1 ] }} cluster cluster-plus" disabled>
                              <span>+</span>
                              <input type="hidden" name="cluster" value="{{ luminaire.cluster.label }}">
                              <input type="hidden" name="luminaire" value="{{ luminaire.address }}">
                            </button>
                            <button class="btn btn-sm btn-{{ colors[ luminaire.cluster.label-1 ] }}" data-toggle="modal" data-target="#modal-cluster-{{ luminaire.cluster.id }}">{{ luminaire.cluster.label }}</button>
                            <button type="button" class="btn btn-sm btn-{{ colors[ luminaire.cluster.label-1 ] }} cluster cluster-minus" disabled>
                              <span>-</span>
                              <input type="hidden" name="cluster" value="{{ luminaire.cluster.label }}">
                              <input type="hidden" name="luminaire" value="{{ luminaire.address }}">
                            </button>
                          </div>
                        </div>
                        {% endif %}
                      </div>
                      {% endif %}
                  </div>
                
                {# </div> #}
                {% if luminaire is defined %}
                <div class="modal fade" id="modal-grid-{{ luminaire.id }}">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-body justify-content-center">

                        <div class="row">
                              <div class="col">
                                <h5>Informations</h5>
                                {% if snapshot is file_exists %}
                                  <img class="img-fluid" src="{{ snapshot }}"/>
                                {% endif %}
                              {% if log_repo.getLuminaireLastLog(luminaire.id) is not empty %}
                                <ul>
                                  <li>Last info: {{ log_repo.getLuminaireLastLog(luminaire.id)[0].time|date("Y-m-d H:i") }}</li>
                                  <li>Channels on:</li>
                                  <ol>
                                    {% for channel in log_repo.getLuminaireLastLog(luminaire.id)[0].value['channels_on'] %}
                                        <li>{{ channel['color'] }} => {{ channel['intensity'] }}%</li>
                                    {% endfor %}
                                  </ol>
                                </ul>
                              {% else %}
                                <ul>
                                  <li>No info for this lighting. Last log: {% if log_repo.getLastLog() is not empty %}
                                    {{ log_repo.getLastLog()[0].time|date("Y-m-d H:i") }}{% endif %}.
                                    <a class="" href="{{ path('update-log') }}">Refresh</a>
                                  </li>
                                </ul>                      
                              {% endif %}
                            </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col">
                              <h5>Mapping</h5>
                              <div class="btn-group btn-group-justified align-content-center m-auto">
                                <button id="{{ luminaire.id }}_btn_colonne"type="button" class="btn btn-primary btn-lg clk_increment">x:
                                  <span class="value">{{ luminaire.colonne | default(1) }}</span>
                                  <input type="hidden" id="{{ luminaire.id }}_colonne" name="{{ luminaire.id }}_colonne" value="{{ luminaire.colonne | default(1) }}"></input>
                                </button>
                                <button id="{{ luminaire.id }}_btn_ligne" type="button" class="btn btn-default btn-lg clk_increment">y:
                                  <span class="value">{{ luminaire.ligne | default(1) }}</span>
                                  <input type="hidden" id="{{ luminaire.id }}_ligne" name="{{ luminaire.id }}_ligne" value="{{ luminaire.ligne | default(1) }}"></input>
                                </button>
                                
                                
                              </div>
                              <button type="button" class="btn btn-success set-position">
                                  <span>Set</span>
                                  <input type="hidden" name="{{ luminaire.id }}_set_position" value="{{ luminaire.id }}"></input>
                                </button>
                              <a href="{{ path('unmap-luminaire', {'id': luminaire.id }) }}" class="btn btn-primary btn-danger">Unmap</a>
                            </div>
                          </div>
                      </div>

                      <div class="modal-footer">

                        <button type="button" class="btn btn-light" data-dismiss="modal" aria-label="Close">Cancel</button>                     
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                {% endif %}
              {% endfor %}
              </div>
            {% endfor %}
          {% endif %}</div>
    </div>
    <div class="tab-pane fade" id="unmapped" role="tabpanel" aria-labelledby="unmapped-tab">
      <div id="unmapped_lightings">
        <div class="row">
            {% for luminaire in luminaire_repo.getNotMapped() %}
                <div class="col-sm-6 col-md-4">
                  <div class="card text-white bg-dark border-light m-2">
                    <div class="card-body">
                      <div class="btn-group-vertical btn-block">
                        <div class="btn-group">
                          {% if log_repo.getLuminaireLastLog(luminaire.id)|length > 0 %}
                            {% if log_repo.getLuminaireLastLog(luminaire.id)[0].value['channels_on']|length > 0 %}
                              <button class="btn btn-sm btn-warning" data-toggle="modal" data-target="#modal-unmapped-{{ luminaire.id }}">
                              {{ luminaire.address }}
                              <i class="fa fa-sun"></i>
                            {% else %}
                              <button class="btn btn-sm btn-dark" data-toggle="modal" data-target="#modal-unmapped-{{ luminaire.id }}">
                              {{ luminaire.address }}
                              <i class="fa fa-moon"></i>
                            {% endif %}
                          {% else %}
                            <button class="btn btn-sm btn-light" data-toggle="modal" data-target="#modal-unmapped-{{ luminaire.id }}">
                              {{ luminaire.address }}
                            <i class="fa fa-question"></i>
                            </button>
                          {% endif %}
                        </div>
                      </div>
                      {% if luminaire.cluster is not null %}
                      <div class="btn-group-vertical btn-block">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-{{ colors[ luminaire.cluster.label-1 ] }} cluster cluster-plus" disabled>
                            <span>+</span>
                            <input type="hidden" name="cluster" value="{{ luminaire.cluster.label }}">
                            <input type="hidden" name="luminaire" value="{{ luminaire.address }}">
                          </button>
                          <button class="btn btn-sm btn-{{ colors[ luminaire.cluster.label-1 ] }}" data-toggle="modal" data-target="#modal-cluster-{{ luminaire.cluster.id }}">{{ luminaire.cluster.label }}</button>
                          <button type="button" class="btn btn-sm btn-{{ colors[ luminaire.cluster.label-1 ] }} cluster cluster-minus" disabled>
                            <span>-</span>
                            <input type="hidden" name="cluster" value="{{ luminaire.cluster.label }}">
                            <input type="hidden" name="luminaire" value="{{ luminaire.address }}">
                          </button>
                        </div>
                      </div>
                      {% endif %}
                    </div>

                    <div class="modal fade" id="modal-unmapped-{{ luminaire.id }}">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-body justify-content-center">
                            <div class="row">
                              <div class="col">
                                <h5>Informations</h5>
                                <img class="img-fluid" src="{{ snapshot }}"/>
                              {% if log_repo.getLuminaireLastLog(luminaire.id) is not empty %}
                                <ul>
                                  <li>Last info: {{ log_repo.getLuminaireLastLog(luminaire.id)[0].time|date("Y-m-d H:i") }}</li>
                                  <li>Channels on:</li>
                                  <ol>
                                    {% for channel in log_repo.getLuminaireLastLog(luminaire.id)[0].value['channels_on'] %}
                                        <li>{{ channel['color'] }} => {{ channel['intensity'] }}%</li>
                                    {% endfor %}
                                  </ol>
                                </ul>
                              {% else %}
                                <ul>
                                  <li>No info for this lighting. Last log: {% if log_repo.getLastLog() is not empty %}
                                    {{ log_repo.getLastLog()[0].time|date("Y-m-d H:i") }}{% endif %}.
                                    <a class="" href="{{ path('update-log') }}">Refresh</a>
                                  </li>
                                </ul>                      
                              {% endif %}
                            </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col">
                              <h5>Mapping</h5>
                              <div class="btn-group btn-group-justified align-content-center m-auto">
                                <button id="{{ luminaire.id }}_btn_colonne"type="button" class="btn btn-primary btn-lg clk_increment">x:
                                  <span class="value">{{ luminaire.colonne | default(1) }}</span>
                                  <input type="hidden" id="{{ luminaire.id }}_colonne" name="{{ luminaire.id }}_colonne" value="1"></input>
                                </button>
                                <button id="{{ luminaire.id }}_btn_ligne" type="button" class="btn btn-default btn-lg clk_increment">y:
                                  <span class="value">{{ luminaire.ligne | default(1) }}</span>
                                  <input type="hidden" id="{{ luminaire.id }}_ligne" name="{{ luminaire.id }}_ligne" value="1"></input>
                                </button>
                                
                              </div>
                              <button type="button" class="btn btn-success set-position">
                                  <span>Set</span>
                                  <input type="hidden" name="{{ luminaire.id }}_set_position" value="{{ luminaire.id }}"></input>
                                </button>
                            </div>
                          </div>
                        </div>

                        <div class="modal-footer">
                          
                          <button type="button" class="btn btn-light" data-dismiss="modal" aria-label="Close">Close</button>                     
                        </div>
                      </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </div>
              </div>
            {% endfor %}</div>
      </div>
    </div>
    <div class="tab-pane fade" id="all" role="tabpanel" aria-labelledby="all-tab">
      <div id="all_lightings">
        <div class="row">
            {% for luminaire in luminaires %}
                <div class="col-sm-6 col-md-4">
                  <div class="card text-white bg-dark border-light mt-2">
                    <div class="card-body">
                      <div class="btn-group-vertical btn-block">
                        <div class="btn-group">
                          {% if log_repo.getLuminaireLastLog(luminaire.id)|length > 0 %}
                            {% if log_repo.getLuminaireLastLog(luminaire.id)[0].value['channels_on']|length > 0 %}
                              <button class="btn btn-sm btn-warning" data-toggle="modal" data-target="#modal-unmapped-{{ luminaire.id }}">
                              {{ luminaire.address }}
                              <i class="fa fa-sun"></i>
                            {% else %}
                              <button class="btn btn-sm btn-dark" data-toggle="modal" data-target="#modal-unmapped-{{ luminaire.id }}">
                              {{ luminaire.address }}
                              <i class="fa fa-moon"></i>
                            {% endif %}
                          {% else %}
                            <button class="btn btn-sm btn-light" data-toggle="modal" data-target="#modal-unmapped-{{ luminaire.id }}">
                              {{ luminaire.address }}
                            <i class="fa fa-question"></i>
                            </button>
                          {% endif %}
                        </div>
                      </div>
                      {% if luminaire.cluster is not null %}
                      <div class="btn-group-vertical btn-block">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-{{ colors[ luminaire.cluster.label-1 ] }} cluster cluster-plus" disabled>
                            <span>+</span>
                            <input type="hidden" name="cluster" value="{{ luminaire.cluster.label }}">
                            <input type="hidden" name="luminaire" value="{{ luminaire.address }}">
                          </button>
                          <button class="btn btn-sm btn-{{ colors[ luminaire.cluster.label-1 ] }}" data-toggle="modal" data-target="#modal-cluster-{{ luminaire.cluster.id }}">{{ luminaire.cluster.label }}</button>
                          <button type="button" class="btn btn-sm btn-{{ colors[ luminaire.cluster.label-1 ] }} cluster cluster-minus" disabled>
                            <span>-</span>
                            <input type="hidden" name="cluster" value="{{ luminaire.cluster.label }}">
                            <input type="hidden" name="luminaire" value="{{ luminaire.address }}">
                          </button>
                        </div>
                      </div>
                      {% endif %}
                    </div>

                    <div class="modal fade" id="modal-unmapped-{{ luminaire.id }}">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-body justify-content-center">
                            <div class="row">
                              <div class="col">
                                <h5>Informations</h5>
                                <img class="img-fluid" src="{{ snapshot }}"/>
                              {% if log_repo.getLuminaireLastLog(luminaire.id) is not empty %}
                                <ul>
                                  <li>Last info: {{ log_repo.getLuminaireLastLog(luminaire.id)[0].time|date("Y-m-d H:i") }}</li>
                                  <li>Channels on:</li>
                                  <ol>
                                    {% for channel in log_repo.getLuminaireLastLog(luminaire.id)[0].value['channels_on'] %}
                                        <li>{{ channel['color'] }} => {{ channel['intensity'] }}%</li>
                                    {% endfor %}
                                  </ol>
                                </ul>
                              {% else %}
                                <ul>
                                  <li>No info for this lighting. Last log: {% if log_repo.getLastLog() is not empty %}
                                    {{ log_repo.getLastLog()[0].time|date("Y-m-d H:i") }}{% endif %}.
                                    <a class="" href="{{ path('update-log') }}">Refresh</a>
                                  </li>
                                </ul>                      
                              {% endif %}
                            </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col">
                              <h5>Mapping</h5>
                              <div class="btn-group btn-group-justified align-content-center m-auto">
                                <button id="{{ luminaire.id }}_btn_colonne"type="button" class="btn btn-primary btn-lg clk_increment">x:
                                  <span class="value">{{ luminaire.colonne | default(1) }}</span>
                                  <input type="hidden" id="{{ luminaire.id }}_colonne" name="{{ luminaire.id }}_colonne" value="1"></input>
                                </button>
                                <button id="{{ luminaire.id }}_btn_ligne" type="button" class="btn btn-default btn-lg clk_increment">y:
                                  <span class="value">{{ luminaire.ligne | default(1) }}</span>
                                  <input type="hidden" id="{{ luminaire.id }}_ligne" name="{{ luminaire.id }}_ligne" value="1"></input>
                                </button>
                                
                              </div>
                              <button type="button" class="btn btn-success set-position">
                                  <span>Set</span>
                                  <input type="hidden" name="{{ luminaire.id }}_set_position" value="{{ luminaire.id }}"></input>
                                </button>
                            </div>
                          </div>
                        </div>

                        <div class="modal-footer">
                          
                          <button type="button" class="btn btn-light" data-dismiss="modal" aria-label="Close">Close</button>                     
                        </div>
                      </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </div>
              </div>
            {% endfor %}</div>
      </div>
    </div>
  </div>
</div><!-- Container -->

{% for cluster in clusters %}
<div class="modal fade" id="modal-cluster-{{ cluster.id }}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Cluster {{ cluster.label }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="btn-group-vertical btn-block">
          <div class="btn-group">
            <a class="btn btn-light {% if log is not defined %}disabled{% endif %}" type="button"  href="{{ path('graph', {'id': cluster.id }) }}"><span data-feather="trending-up"></span></a>
            <a href="{{ path('new-play', { 'id': cluster.id }) }}" type="button" class="btn btn-light">
              <span data-feather="play-circle"></span> 
            </a>
            <a href="{{ path('set-cluster-off', { 'id': cluster.id }) }}" type="button" class="btn btn-light">
              <span data-feather="stop-circle"></span> 
            </a>
            <a href="{{ path('new-run', {'id': cluster.id }) }}" type="button" class="btn btn-light">
              {% set runs = run_repo.getRunningRunsForCluster(cluster.id) %}
              {% if runs|length > 0 %}
                <span data-feather="clock" style="color: green;" data-toggle="tooltip" data-placement="top" title="{{ cluster_repo.getRunningClusters(cluster.id, "now"|date("Y-m-d H:i:s"))|length }} running program"></span> 
              {% else %}
                <span style="color: red;" data-feather="clock" data-toggle="tooltip" data-placement="top" title="No running programs"></span> 
              {% endif %}
            </a>
          </div>
        </div>
        {% if runs|length > 0 %}
        <div class="btn-group-vertical btn-block">
          {% for run in runs %}
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-success">Run: {{ run.label }} // {{ run.start|date("Y-m-d H:i:s") }}</button>
              <a class="btn btn-light" type="button"  href="{{ path('edit-run', {'id': run.id }) }}"><span data-feather="edit"></span></a>
            </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endfor %}


{% endblock %}

{% block update %}
  <span class="text-muted text-sm-left d-none d-md-block">Last update: 
    {% if log_repo.getLastLog() is not empty %}
      {{ log_repo.getLastLog()[0].time|date("Y-m-d H:i") }}
    {% endif %}
  </span>
{% endblock %}

{% block bottomButton %}
  {% if app.user %}<a class="mr-3 btn btn-outline-secondary fa fa-sign-out-alt" href="{{ path('app_logout') }}"></a>{% endif %}
    <button id="unlock" class="mr-5 btn btn-outline-secondary fa fa-lock"></button>

{% endblock %}
