{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block panelTitle %}
<h1 class="h2">Dashboard</h1>
<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <a href="{{ path('get-info') }}" class="btn btn-sm btn-outline-secondary fas fa-redo"> Refresh</a>
    </div>
{#     <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
    </button> #}
</div>
{% endblock %}

{% block panelContent %}
<div class="row">
	<div class="col col-md-12">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
	  		<h1 class="h5"></h1>
	    </div>
	</div>
</div>
<div class="row">
{% for cluster in clusters %}
  <div class="col col-md-6 col-lg-4">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title d-flex justify-content-between">
          Cluster {{ cluster.label }}
          <div class="d-inline">

          </div>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ cluster.description }}</h6>
      </div>
      <div class="card-body">
        {% if cluster_repo.getRunningClusters(cluster.id, "now"|date("Y-m-d"))|length > 0 %}
          <p><span class="fas fa-circle" style="color: green;"></span> {{ cluster_repo.getRunningClusters(cluster.id, "now"|date("Y-m-d"))|length }} running program</p> 
        {% else %}
          <p>  <span class="fas fa-circle" style="color: red;"></span> No running programs</p>
        {% endif %}
        <div class="modal fade" id="modal-temp-cluster_{{ cluster.id }}">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Lighting temperatures, Cluster {{ cluster.label }} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">Close</span>
                </button>
              </div>
              <div class="modal-body">
                {% set temp = 0 %}
                {% set i = 0 %}
                <div class="row">
                    <div class="col">
                      <ul class="list-group list-group-flush">
                      {% for luminaire in cluster.luminaires %}
                        {% if loop.index is divisible by(6) %}
                        </ul>
                        </div>
                        <div class="col">
                          <ul class="list-group list-group-flush">
                        {% endif %}
                        <li class="list-group-item d-flex justify-content-between">
                          Lighting #{{ luminaire.address }} [ Serial: {{ luminaire.serial }} ] 
                          {% for pcb in luminaire.pcbs %}
                            {% set temp = temp + pcb.temperature %}
                            {% set i = i + 1 %}
                              <span class="badge badge-success pull-right">{{ pcb.temperature }}°C</span>
                          {% endfor %}
                        </li>
                      {% endfor %}
                      </ul>
                    </div>
                </div>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div class="modal fade" id="modal-channels-cluster_{{ cluster.id }}">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Channels state, Cluster {{ cluster.label }} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">Close</span>
                </button>
              </div>
              <div class="modal-body">
              {% set n_channels = 0 %}
                <div class="row">
                    <div class="col">
                      <ul class="list-group list-group-flush">
                      {% for luminaire in cluster.luminaires %}
                        {% if loop.index is divisible by(6) %}
                        </ul>
                        </div>
                        <div class="col">
                          <ul class="list-group list-group-flush">
                        {% endif %}
                        <li class="list-group-item d-flex justify-content-between">
                          {% set n_channels = 0 %}
                          <span>Lighting #{{ luminaire.address }}</span>
                          {% for channel in luminaire.channels %}
                            {% if channel.currentintensity > 0 %}
                              {% set n_channels = n_channels + 1 %}
                              <span class="badge badge-success pull-right">{{ channel.led.type }}{{ channel.led.wavelength }}</span>
                            {% endif %}
                          {% endfor %}
                        </li>
                      {% endfor %}
                      </ul>
                    </div>
                </div>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div class="btn-group btn-block">
          <button class="btn btn-xs 
            {% if (temp/i) < 100 %}
              btn-info
            {% else %}
              btn-danger
            {% endif %}
            btn-info fas fa-thermometer-quarter" data-toggle="modal" data-target="#modal-temp-cluster_{{ cluster.id }}"> {{ temp / i }}°C</button>
          <button class="btn btn-xs 
          {% if n_channels > 0 %}
            btn-success
          {% else %}
            btn-light
          {% endif %} 
          fas fa-sliders-h" data-toggle="modal" data-target="#modal-channels-cluster_{{ cluster.id }}"> {{ n_channels }} Ch.</button>
        </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
