{% extends 'base.html.twig' %}

{% set colors = ["primary","secondary","success","danger","warning","info"] %}

{% block title %}{{ 'parameters.title'|trans }}{% endblock %}

{% block panelTitle %}
<h1 class="h2">{{ 'parameters.title'|trans }}</h1>
<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
        
    </div>
</div>
{% endblock %}

{% block panelContent %}

{% for message in app.flashes('info') %}
	<div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}


<div class="row">
	<div class="col">
		{% form_theme form 'bootstrap_4_layout.html.twig' %}
			{{ form_start(form) }}
			{{ form_row(form.controller_name, {'label' : 'parameters.labels.controller-name', 'label_attr': { class: 'text-light'} }) }}
			<button type="submit" class="btn btn-secondary">{{ button_label|default('button.save')|trans }}</button>
			<a href="{{ path('home') }}" class="btn btn-secondary">{{ 'button.cancel'|trans }}</a>
			{{ form_end(form) }}
	</div>
</div>

{% endblock %}
