<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}
        {% endblock %}
        <title>{% block title %} {{ parameters.getControllerName }} {{ ":: " ~ navtitle|default("") }} {% endblock %}</title>
        {% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body class="bg-dark" style="margin-top: 75px;">
        {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark shadow">
              <a href="{{ path('home') }}" class="navbar-brand d-block d-md-none"><span data-feather="home"></span></a>
              <a class="navbar-brand col-sm-3 col-md-2 mr-0 d-none d-md-block" href="{{ path('home') }}">{{ parameters.getControllerName }}</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTop">
                <ul class="navbar-nav m-auto">
                  <li class="navbar-brand text-light">{{ navtitle|default("") }}</li>
                </ul>
                <ul class="navbar-nav  ml-auto">
{#                   <li class="nav-item">
                    <a class="nav-link" href="#">Sign out</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin') }}">Admin</a>
                  </li> #}
                  <li class="nav-item"><a class="nav-link" href="{{ path('parameters') }}" > <span data-feather="settings"></span> </a></li>
                </ul>
                <ul class="navbar-nav d-block d-md-none">
                  <div class="nav-item" href="#">
                      <a class="nav-link" href="{{ path('my-lightings') }}">My Lightings</a>
                  </div>
                  <div class="nav-item" href="#">
                      <a class="nav-link" href="{{ path('connected-lightings') }}">Clusters</a>
                  </div>
                  <div class="nav-item" href="#">
                      <a class="nav-link" href="{{ path('recipes') }}">Recipes</a>
                  </div>
                  <div class="nav-item" href="#">
                      <a class="nav-link" href="{{ path('program') }}">Programs</a>
                  </div>
                  <div class="nav-item" href="#">
                      <a class="nav-link" href="{{ path('run') }}">Runs</a>
                  </div>
                </ul>
              </div>
            </nav>
        {% endblock %}
        {% block body %}
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-2 d-none d-md-block bg-dark">
                  <nav class="sidebar navbar-dark">
                    <div class="sidebar-sticky">
                      <ul class="nav flex-column">
                        <li class="nav-item p-1">
                          <a class="nav-link  btn btn-outline-light" href="{{ path('home') }}">
                            <span data-feather="home"></span>
                            <span class="d-none d-lg-inline">Dashboard</span> <span class="sr-only">(current)</span>
                          </a>
                        </li>
                        <li class="nav-item p-1">
                          <a class="nav-link  btn btn-outline-light" href="#submenu1" data-toggle="collapse">
                            <span data-feather="settings"></span>
                            <span class="d-none d-lg-inline">Setup</span>
                          </a>
                          <div id="submenu1" class="collapse">
                              <div class="nav-item p-1" href="#">
                                  <a class="nav-link btn btn-outline-light" href="{{ path('my-lightings') }}">
                                    <span data-feather="database"></span>
                                    <span class="d-none d-lg-inline">My Lightings</span>
                                  </a>
                              </div>
                              <div class="nav-item p-1" href="#">
                                  <a class="nav-link btn btn-outline-light" href="{{ path('connected-lightings') }}">
                                    <span data-feather="activity"></span>
                                    <span class="d-none d-lg-inline">Clusters</span>
                                  </a>
                              </div>
                              <div class="nav-item p-1" href="#">
                                  <a class="nav-link btn btn-outline-light" href="{{ path('recipes') }}">
                                    <span data-feather="sliders"></span>
                                    <span class="d-none d-lg-inline">Recipes</span>
                                  </a>
                              </div>
                              <div class="nav-item p-1" href="#">
                                  <a class="nav-link btn btn-outline-light" href="{{ path('program') }}">
                                    <span data-feather="cpu"></span>
                                    <span class="d-none d-lg-inline">Programs</span>
                                  </a>
                              </div>
                              <div class="nav-item p-1" href="#">
                                  <a class="nav-link btn btn-outline-light" href="{{ path('run') }}">
                                    <span data-feather="fast-forward"></span>
                                    <span class="d-none d-lg-inline">Runs</span>
                                  </a>
                              </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </nav>
                </div>
                <div class="col-md-10 pb-5 {% if navtitle == "Dashboard" %}bg-dark{% endif %}">
                <main role="main">
                  <nav id="navbar-scroll" class="navbar navbar-dark bg-dark fixed-bottom">
                    <ul class="nav">
                      <li class="nav-item">
                        <a class="nav-link text-light" href="#top"><span data-feather="arrow-up-circle"></span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('update-log') }}"><span data-feather="refresh-cw"></span></a>
                      </li>
                      <li class="navbar-text">{% block update %}{% endblock %}</li>
                      {% block scrollspy %}
                          
                      {% endblock %}
                    </ul>
                    <div class="btn-group">
                      {% block bottomButton %}
                          
                      {% endblock %}
                    </div>
                  </nav>
                  <div data-spy="scroll" data-target="#navbar-scroll" data-offset="0">
                  {% block panelContent %}
                      
                  {% endblock %}
                  </div>
                  
                </main>
                </div>
              </div>
            </div>
        {% endblock %}
        {% block javascripts %}
        	<script src="{{ asset('build/app.js') }}"></script>
          <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
          <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% endblock %}
    </body>
</html>
