<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}
        {% endblock %}
        <title>{% block title %} {{ parameters.getControllerName }} {{ ":: " ~ navtitle|default("")|trans }} {% endblock %}</title>
        {% block stylesheets %}
			   {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-dark" style="margin-top: 75px;">
        {% block navbar %}
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark shadow">
              <a class="navbar-brand" href="{{ path('home') }}">{{ parameters.getControllerName }}</a>
              <ul class="navbar-nav m-auto d-block">
                <li class="navbar-item text-light text-center">{{ navtitle|default("")|trans }}</li>
              </ul>
              {% block navbarButton %}
                  
              {% endblock %}
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse col-md-1" id="navbarTop">
                <ul class="navbar-nav ml-auto d-none d-md-block">
                  <li class="nav-item"><a class="nav-link" href="{{ path('parameters') }}" > <span data-feather="settings"></span> </a></li>
                </ul>
                <ul class="navbar-nav d-block d-md-none">
                  <div class="nav-item" href="#">
                      <a class="nav-link" href="{{ path('parameters') }}">{{'sidemenu.parameters'|trans}}</a>
                  </div>
                  <div class="nav-item" href="#">
                      <a class="nav-link" href="{{ path('my-lightings') }}">{{'sidemenu.lightings'|trans}}</a>
                  </div>
                  <div class="nav-item" href="#">
                      <a class="nav-link" href="{{ path('connected-lightings') }}">{{'sidemenu.clusters'|trans}}</a>
                  </div>
                  <div class="nav-item" href="#">
                      <a class="nav-link" href="{{ path('recipes') }}">{{'sidemenu.recipes'|trans}}</a>
                  </div>
                  <div class="nav-item" href="#">
                      <a class="nav-link" href="{{ path('program') }}">{{'sidemenu.programs'|trans}}</a>
                  </div>
                  <div class="nav-item" href="#">
                      <a class="nav-link" href="{{ path('run') }}">{{'sidemenu.runs'|trans}}</a>
                  </div>
                </ul>
              </div>
            </nav>
        {% endblock %}
        {% block body %}
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-2 d-none d-md-block bg-dark">
                  <nav class="sidebar navbar-dark">
                    <div class="sidebar-sticky">
                      <ul class="nav flex-column">
                        <li class="nav-item p-1">
                          <a class="nav-link  btn btn-outline-light" href="{{ path('home') }}">
                            <span data-feather="home"></span>
                            <span class="d-none d-lg-inline">{{'sidemenu.dashboard'|trans}}</span> <span class="sr-only">(current)</span>
                          </a>
                        </li>
                        <li class="nav-item p-1">
                          <a class="nav-link  btn btn-outline-light" href="#submenu1" data-toggle="collapse">
                            <span data-feather="settings"></span>
                            <span class="d-none d-lg-inline">{{'sidemenu.setup'|trans}}</span>
                          </a>
                          <div id="submenu1" class="collapse">
                              <div class="nav-item p-1" href="#">
                                  <a class="nav-link btn btn-outline-light" href="{{ path('my-lightings') }}">
                                    <span data-feather="database"></span>
                                    <span class="d-none d-lg-inline">{{'sidemenu.lightings'|trans}}</span>
                                  </a>
                              </div>
                              <div class="nav-item p-1" href="#">
                                  <a class="nav-link btn btn-outline-light" href="{{ path('connected-lightings') }}">
                                    <span data-feather="activity"></span>
                                    <span class="d-none d-lg-inline">{{'sidemenu.clusters'|trans}}</span>
                                  </a>
                              </div>
                              <div class="nav-item p-1" href="#">
                                  <a class="nav-link btn btn-outline-light" href="{{ path('recipes') }}">
                                    <span data-feather="sliders"></span>
                                    <span class="d-none d-lg-inline">{{'sidemenu.recipes'|trans}}</span>
                                  </a>
                              </div>
                              <div class="nav-item p-1" href="#">
                                  <a class="nav-link btn btn-outline-light" href="{{ path('program') }}">
                                    <span data-feather="cpu"></span>
                                    <span class="d-none d-lg-inline">{{'sidemenu.programs'|trans}}</span>
                                  </a>
                              </div>
                              <div class="nav-item p-1" href="#">
                                  <a class="nav-link btn btn-outline-light" href="{{ path('run') }}">
                                    <span data-feather="fast-forward"></span>
                                    <span class="d-none d-lg-inline">{{'sidemenu.runs'|trans}}</span>
                                  </a>
                              </div>
                          </div>
                        </li>
                        {% if snapshot is file_exists %}
                          <li class="nav-item p-1">
                            <img class="img-fluid img-thumbnail" src="{{ snapshot }}"/>
                          </li>
                        {% endif %}
                      </ul>

                    </div>
                  </nav>

                </div>
                <div class="col-md-10 pb-5 ">
                <main role="main">
                  <nav id="navbar-scroll" class="navbar navbar-dark bg-dark fixed-bottom">
                    <ul class="nav">
                      <li class="nav-item">
                        <a class="nav-link text-light" href="#top"><span data-feather="arrow-up-circle"></span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('update-log') }}"><span data-feather="refresh-cw"></span></a>
                      </li>
                      <li class="navbar-text">{% block update %}{% endblock %}</li>
                      {% block scrollspy %}
                          
                      {% endblock %}
                    </ul>
                    {# <div class="btn-group"> #}
                    <div>
                      {% block bottomButton %}
                          
                      {% endblock %}
                      <span class="mr-5">&nbsp;</span>
                    </div>
                  </nav>
                  <div data-spy="scroll" data-target="#navbar-scroll" data-offset="0">
                  {% for message in app.flashes('error') %}
                    <div class="alert alert-danger alert-fade" role="alert">
                          {{ message|trans }}
                    </div>
                  {% endfor %}
                  {% for message in app.flashes('info') %}
                    <div class="alert alert-info alert-fade" role="alert">
                          {{ message|trans }}
                    </div>
                  {% endfor %}
                  {% block panelContent %}
                      
                  {% endblock %}
                  </div>
                  
                </main>
                </div>
              </div>
            </div>
        {% endblock %}
        {% block javascripts %}
          {{ encore_entry_script_tags('app') }}
        	
          <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
          <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% endblock %}
    </body>
</html>
