<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body style="padding-top: 60px;">
        {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark shadow">

              <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('home') }}">VeLiRe Controller</a>
              <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#">Sign out</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('admin') }}">Admin</a>
                </li>
              </ul>
            </div>

            </nav>
        {% endblock %}
        {% block body %}
            <div class="container-fluid">
              <div class="row">
                <nav class="col-md-3 d-none d-md-block bg-light sidebar">
                  <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                      <li class="nav-item p-2 border">
                        <a class="nav-link active" href="{{ path('home') }}">
                          <span data-feather="home"></span>
                          Dashboard <span class="sr-only">(current)</span>
                        </a>
                      </li>
                      <li class="nav-item p-2 border">
                        <a class="nav-link" href="#submenu1" data-toggle="collapse">
                          <span data-feather="settings"></span>
                          Setup
                        </a>
                        <div id="submenu1" class="collapse">
                            <div class="nav-item p-2 border" href="#">
                                <a class="nav-link text-right" href="{{ path('my-lightings') }}">My Lightings</a>
                            </div>
                            <div class="nav-item p-2 border" href="#">
                                <a class="nav-link text-right" href="{{ path('connected-lightings') }}">Connected lighting</a>
                            </div>
                            <div class="nav-item p-2 border" href="#">
                                <a class="nav-link text-right" href="{{ path('recipes') }}">Recipes</a>
                            </div>
                            <div class="nav-item p-2 border" href="#">
                                <a class="nav-link text-right" href="{{ path('program') }}">Programs</a>
                            </div>
                        </div>
                      </li>
                        <li class="nav-item dropdown p-2 border">
                            <a class="nav-link" href="#submenu2" data-toggle="collapse">
                                <span data-feather="sliders"></span>
                                Control
                            </a>
                            <div id="submenu2" class="collapse">
                                <div class="nav-item p-2 border" href="#">
                                    <a class="nav-link text-right" href="{{ path('run') }}">Runs</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                  </div>
                </nav>

                <main role="main" class="col-md-8 ml-sm-auto col-lg-9 px-4">
                  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    
                    {% block panelTitle %}
                    <h1 class="h2">Dashboard</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button class="btn btn-sm btn-outline-secondary">Share</button>
                            <button class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <span data-feather="calendar"></span>
                            This week
                        </button>
                    </div>
                    {% endblock %}

                  </div>

                  {% block panelContent %}
                      
                  {% endblock %}
                  
                </main>
              </div>
            </div>
        {% endblock %}
        {% block javascripts %}
        	<script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
