{% extends 'base.html.twig' %}

{% set colors = ["primary","secondary","success","danger","warning","info"] %}

{% block title %}Setup{% endblock %}

{% block panelTitle %}
<h1 class="h2">Setup</h1>
<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
        
    </div>
</div>
{% endblock %}

{% block panelContent %}

{% for message in app.flashes('info') %}
	<div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}

	    <div class="modal fade" id="get-lighting-info">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-body text-center">
						<p class="alert alert-warning">This will erase your existing setup if any !</p>
						<a href="{{ path('get-connected-lightings') }}" class="btn btn-primary">Continue...</a>
						<button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div class="row">
			{% for luminaire in installed_luminaires %}
			<div class="col-sm-8 col-md-6">
				<div class="card">
					<div class="card-body d-flex justify-content-between">
						<div class="card-text">{{ loop.index }}. Lighting #{{ luminaire.address }}</div>
						<div class="d-inline">
						{% for n in 1..next_cluster %}
							{% if n == next_cluster %}
								<a href="{{ path('add-cluster', { 'l': luminaire.id, 'c': n }) }}" class="btn btn-light">+</a>
							{% else %}
							<a href="{{ path('add-cluster', { 'l': luminaire.id, 'c': n }) }}" class="btn {% if luminaire.cluster.label is defined and luminaire.cluster.label == n %}btn-{{ colors[ n-1 ] }}{% else %}btn-light{% endif %}">{{ n }} </a>
							{% endif %}
						{% endfor %}
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>

{% endblock %}

{% block bottomButton %}
    <button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#get-lighting-info">
    	<span data-feather="refresh-cw"></span>  (Re-)Initialize
    </button>
	<a href="{{ path('clear-clusters') }}" class="btn btn-sm btn-outline-secondary">Clear groups</a>
{% endblock %}
