{% extends 'base.html.twig' %}

{% set colors = ["primary","secondary","success","danger","warning","info"] %}

{% block title %}Setup{% endblock %}

{% block panelTitle %}
<h1 class="h2">New recipe</h1>
<div class="btn-toolbar mb-2 mb-md-0">

</div>
{% endblock %}

{% block panelContent %}

{% for message in app.flashes('info') %}
	<div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}

<div class="row">	

		<div class="col-md-12">
			{% form_theme form 
				'bootstrap_4_horizontal_layout.html.twig' %}
			{{ form_start(form) }}
			{{ form_row(form.label, {'value' : "recipe_" ~ "now"|date("Y-m-d_H:i:s")}) }}
			{{ form_widget(form.description, {'attr': { "class": "d-none d-lg-block"}}) }}
			{# <h5>Ingredients</h5> #}
			
			<div class="row">
				<div class="col">
				{% for ingredient in form.ingredients %}
					{% if loop.index is divisible by(2) %}</div><div class="col">{% endif %}
				    <p>{{ form_row(ingredient.level, { 'label': ingredient.vars.data.led.type, 'value': 0 }) }} </p>
				{% endfor %}
				</div>
			</div>
    		{{ form_widget(form) }}
    		<button class="btn">{{ button_label|default('Save') }}</button>
    		<a class="btn" href="{{ path('recipes') }}">Cancel</a>
			{{ form_end(form) }}
		</div>

</div>


{% endblock %}
