{% extends 'base.html.twig' %}

{% set colors = ["primary","secondary","success","danger","warning","info"] %}

{% block title %}Setup{% endblock %}

{% block panelTitle %}
<h1 class="h2">Recipes</h1>
<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      	<button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#modal-new-recipes">
        	<span data-feather="plus"></span>  New recipes
        </button>
        <a href="#" class="btn btn-sm btn-outline-secondary">New recipes</a>
    </div>
	<div class="modal fade" id="modal-new-recipes">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body text-center">
					<button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>
{% endblock %}

{% block panelContent %}

{% for message in app.flashes('info') %}
	<div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}

<div class="row">
	{% for recipe in recipes %}
	    <div class="col-md-3">
			<div class="card">
				<div class="card-block">
					<h5 class="card-title">{{ recipe.label }}</h5>
					<h6 class="card-subtitle text-muted">{{ recipe.description }}</h6>
					  <ul class="list-group list-group-flush">
					  	{% for ingredient in recipe.ingredients %}
					  	    <li class="list-group-item d-flex justify-content-between align-items-center">{{ ingredient.led.type }} {{ ingredient.led.wavelength }} <span class="badge badge-light">{{ ingredient.level }}%</span></li>
					  	{% endfor %}
					  </ul>
				</div>
			</div>
	    </div>
	{% endfor %}
</div>

<div class="row">
	{# Connected Lightings #}
	<div class="col col-md-12">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
		  	<h1 class="h5">Clusters</h1>
		  	<div class="btn-group">
		    </div>
	    </div>
	</div>
</div>

<div class="row">	
	<div class="accordion w-100" id="clusters">
		{% for cluster in clusters %}
		<div class="col-md-12">
			<div class="card w-100">
				<div class="card-header" id="heading_{{ loop.index }}">
					<h5 class="mb-0">
						<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_{{ loop.index }}" aria-expanded="true" aria-controls="collapse_{{ loop.index }}">
						Cluster #{{ cluster.label }}
						</button>
						<a href="{{ path('new-recipe', {'id': cluster.id }) }}" class="btn btn-sm btn-outline-secondary">New recipes</a>
					</h5>
				</div>

				<div id="collapse_{{ loop.index }}" class="collapse show" aria-labelledby="heading_{{ loop.index }}" data-parent="#clusters">
					{% set cluster_leds = led_repo.getLedTypesFromCluster(cluster.id) %}
					<div class="card-body">
						<ul>
						{% for recipe in recipes %}
						    {% set recipe_leds = led_repo.getLedTypesFromRecipe(recipe.id) %}
						    	{% if cluster_leds is same as(recipe_leds) %}
						    		<li>{{ recipe.label }} {{ recipe.id }}</li>
						    	{% endif %}
		{# 						{% for led in recipe_leds %}
								    <li>{{ led.type }} {{ led.wavelength }}</li>
								{% endfor %} #}
						{% endfor %}
						</ul>
						<ul>
						{% for led in cluster_leds %}
						    <li>{{ led.type }} {{ led.wavelength }}</li>
						{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>


{% endblock %}
